name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-backend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: "18.x"
    - name: Install Dependencies
      run: |
        cd backend
        npm install
    - name: Run Unit Tests
      run: |
        cd backend
        npm test

  test-frontend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: "18.x"
    - name: Install Dependencies
      run: |
        cd frontend
        npm install
    - name: Run Unit Tests
      run: |
        cd frontend
        npm test -- --watchAll=false --ci

  build-backend:
    runs-on: ubuntu-latest
    needs: test-backend
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: "18.x"
    - name: Install System Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential libcairo2-dev libpango1.0-dev libjpeg-dev libgif-dev librsvg2-dev pkg-config libpixman-1-dev
    - name: Install Dependencies
      run: |
        cd backend
        npm install

  build-frontend:
    runs-on: ubuntu-latest
    needs: test-frontend
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: "18.x"
    - name: Install Dependencies
      run: |
        cd frontend
        npm install
    - name: Lint
      run: |
        cd frontend
        npm run lint
    - name: Build
      run: |
        cd frontend
        npm run build

  docker-build:
    runs-on: ubuntu-latest
    needs: [build-backend, build-frontend]
    steps:
    - uses: actions/checkout@v3
    - name: Build Docker Images
      run: |
        docker compose build

